@model NewsItemPage

	<a class="mt-1" href="@Url.ContentUrl(Model.ContentLink)"><img src="@Url.ContentUrl(Model.NewsImage)" alt="" height="240" class="card-img-top" /></a>
	<h4 class="card-header">Tortor at Vulputate Blandit</h4>
	@* <p class="card-body"> Aenean quis dignissim diam. Etiam venenatis congue velit, varius gravida mi volutpat ac. Sed ut pretium dolor. Etiam tempor felis ac eros dictum quis consectetur dolor tristique. Aliquam scelerisque, odio vel luctus commodo, nisl nisl vehicula metus, ut lobortis eros sem blandit est.</p> *@
<p class="card-footer"><a href="@Url.ContentUrl(Model.ContentLink)">Read more</a></p>
