@using EPiServer.Framework.Web.Mvc.Html
@model PageViewModel 
<!DOCTYPE html>
<html lang="en">
<partial name="~/Views/Shared/_HeaderIncludes.cshtml"  model="Model"/>
<body>
    <partial name="~/Views/Shared/_Header.cshtml" />

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="~/Views/Shared/_Footer.cshtml" />

    <partial name="~/Views/Shared/_Script.cshtml" />
    
        @Html.RequiredClientResources("Footer")
   


</body>
</html>
