@model PageViewModel<NewsItemPage>

<section id="blog-details" class="blog-details section">
    <div class="container">

        <div class="card">

            <div class="post-img">
                <img src="@Url.ContentUrl(Model.Page.NewsImage)" alt="" width="250" class="">
            </div>

            <h2 class="card-header">@Html.PropertyFor(x => x.Page.NewsTitle)</h2>

            <div class="meta-top">
                <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">John Doe</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2020-01-01">Jan 1, 2022</time></a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">12 Comments</a></li>
                </ul>
            </div><!-- End meta top -->

            <div class="card-text">
                @Html.PropertyFor(x => x.Page.NewsBody)
            </div><!-- End post content -->

        </div>

    </div>
</section>
